{% extends "::base.html.twig" %}

{% block title %}AppBundle:Userchanges:userChange{% endblock %}

{% block body %}
	{% if messageTrue is defined %}
		<div class="alert alert-success" role="alert">
  			<strong>{{ messageTrue }}</strong>
		</div>		
	{% endif %}
<div class="container">
	{{ form_start(form) }}
	<div class="container">
	{{ form_start(form, {'attr': {'onsubmit': 'myFunction()'}}) }}
		<div class="form-group row">
			{{ form_label(form.userUser, 'Usuario' ,{'label_attr': {'id': 'labelUsuario', 'class' : "col-sm-2 col-form-label"}}) }}
			<div class="col-sm-10">
			{{ form_widget(form.userUser, { 'id': 'Usuario', 'class': "form-control"}) }}</br>
			</div>
        </div>
        <div class="form-group row">
			{{ form_label(form.userPass, 'PassWord' ,{'label_attr': {'id': 'labelPassWord', 'for': 'PassWord', 'class' : "col-sm-2 col-form-label"}}) }}
			<div class="col-sm-10">
			{{ form_widget(form.userPass, { 'id': 'PassWord', 'class': "form-control", 'type': 'PassWord'}) }}</br>
			</div>
        </div>
        <div class="form-group row">
			{{ form_label(form.userRole, 'Rol' ,{'label_attr': {'id': 'labelRol', 'class' : "col-sm-2 col-form-label"}}) }}
			<div class="col-sm-10">
			{{ form_widget(form.userRole, { 'id': 'Rol', 'class': "form-control"}) }}</br>
			</div>
        </div>
        <div class="form-group row">
			{{ form_label(form.userStatus, 'Estatus' ,{'label_attr': {'id': 'labelEstatus', 'class' : "col-sm-2 col-form-label"}}) }}
			<div class="col-sm-10">
			{{ form_widget(form.userStatus, { 'id': 'estatus', 'class': "form-control"}) }}</br>
			</div>
        </div>
        <div class="form-group row">
			{{ form_label(form.userPermission, 'Permiso' ,{'label_attr': {'id': 'labelPermiso', 'class' : "col-sm-2 col-form-label"}}) }}
			<div class="col-sm-10">
			{{ form_widget(form.userPermission, { 'id': 'Permiso', 'class': "form-control"}) }}</br>
			</div>
        </div>
        <div class="form-group row">
			{{ form_row(form.save, {'label': 'Registrar', 'class' : "col-sm-2 col-form-label"}) }}
			<div class="col-sm-10">
			{{ form_widget(form.save, { 'id': 'Registrar', 'class': "form-control" }) }}</br>
			</div>
        </div>
	{{ form_widget(form) }}
	{{ form_end(form) }}
</div>
{% endblock %}
